@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flexo-Demi";
  src: url("/public/fonts/Flexo-Demi/Flexo-Demi.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Flexo-Demi", arial, sans-serif;
}
